<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>Upload Files </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="flex-column whol-height justify-evenly">
    <div>
      <button type="button" mat-raised-button (click)="fileInput.click()">
        Choose Files
      </button>
      <input
        hidden
        multiple
        (change)="onFilesSelected($event)"
        #fileInput
        type="file"
        id="file"
      />
    </div>
    <h5 *ngIf="files.length > 0">
      Desired file paths (subdirectories allowed)
    </h5>
    <div *ngFor="let file of files; index as i">
      <input
        type="text"
        matInput
        [value]="file.name"
        (change)="onFilePathChanged(i, $event)"
      />
      <a (click)="deleteStagedFile(file)"
        ><mat-icon aria-label="Delete">delete_forever</mat-icon></a
      >
    </div>

    <div style="height: 12px"></div>
    <div class="whole-width">
      <button mat-raised-button (click)="uploadFiles()">Submit</button>
    </div>
  </div>
</mat-expansion-panel>
