<div
  class="flex-row whole-width whole-height justify-evenly align-center"
  id="dashboard-container"
>
  <div
    class="flex-column third-width whole-height justify-evenly align-center text-center"
  >
    <div><h3>How do you want to import text?</h3></div>
    <div class="two-third-width"><app-text-input></app-text-input></div>
    <div class="two-third-width">or</div>
    <div class="two-third-width"><app-file-input></app-file-input></div>
    <div></div>
  </div>
  <div
    class="flex-column third-width whole-height justify-evenly align-center text-center"
  >
    <div><h3>Files currently on server</h3></div>
    <app-download-audio></app-download-audio>
    <div><app-stream-audio></app-stream-audio></div>
  </div>
  <div
    class="flex-column third-width whole-height justify-evenly align-center text-center"
  >
    <div><h3>Remote Sync</h3></div>
    <div id="sync-target-container">
      <app-sync-target></app-sync-target>
    </div>
    <div></div>
  </div>
</div>
