#app-container {
  background-color: var(--scheme-light-gray);
}

#header {
  background-color: var(--scheme-orange);
  height: 16%;
}

#main-panel {
  height: 70%;
}

#footer {
  background-color: var(--scheme-orange);
  height: 14%;
}
