#app-container {
  background-color: var(--scheme-light-gray);
}

#header {
  background-color: var(--scheme-orange);
}

#main-panel {
  height: 60%;
}

#footer {
  background-color: var(--scheme-orange);
}
