<div class="whole-height flex-column justify-evenly align-start">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-description>
        {{ syncTargetURL$ | async }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex-column">
      <div class="whole-width">
        <input
          matInput
          [value]="syncTargetURL$ | async"
          (change)="stageSyncTargetLocalURLLocal($event)"
        />
      </div>
      <div class="flex-row whole-width justify-evenly">
        <div>
          <button mat-raised-button (click)="submitSyncTargetURL()">
            Submit
          </button>
        </div>
        <div>
          <button mat-raised-button (click)="triggerSyncJob()">Sync</button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>
