<div class="whole-height flex-column justify-evenly align-start">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-description>
        {{ syncTargetURL$ | async }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex-column">
      <div class="flex-row whole-width justify-evenly">
        <div>
          <input
            matInput
            [value]="syncTargetURL$ | async"
            (change)="stageSyncTargetLocalURLLocal($event)"
          />
        </div>
        <div>
          <button mat-raised-button (click)="submitSyncTargetURL()">
            Set Sync Target
          </button>
        </div>
      </div>
      <div style="height: 36px"></div>
      <div class="flex-row whole-width justify-evenly">
        <button mat-raised-button (click)="triggerSyncJob()">Sync</button>
      </div>
    </div>
  </mat-expansion-panel>
</div>
